<%- include('partials/header') %>
<main class="container">
    <div class="container">
        <form action="/fetch-movies" method="get">
            <input id="searchQuery" class="form-control me-2" name="query" type="search" placeholder="Enter a Movie Name" aria-label="Search" data-listener-added_6d5e0835="true" required>
            <button id="apiKey" class="btn btn-primary" type="submit">Search</button>
        </form>
    </div>
    <div class="response-area">        
        <% if (movies.length > 0) { %>
            <% movies.forEach(movie => { %>
              <div class="movie">
                <h2><%= movie.title %></h2>
                <p><%= movie.overview %></p>
                <p><strong>Release Date:</strong> <%= movie.releaseDate %></p>
              </div>
            <% }) %>
          <% } else { %>
            <p>No movies found.</p>
          <% } %>                       
    </div>
        
</main>
<%- include('partials/footer') %>